.soft-border {
  border: 5px solid lavender
}

.box-model-properties {
  border: 5px solid lavenderblush;
  margin: 20px 5px;
  padding: 10px;
}

.centre-title {
  color: blueviolet;
  margin: 0 auto;
  width: 500px;
}

.navigation-links li {
  display: inline;
  margin: 10px;
}

/* MEDIA QUERIES */

body {
  background-color: lightgray;
}

@media screen and {min-width: 1024px) {
  body {
    background-color: light-grey;
  }
}

@media screen {
  body {
    color: goldenrod;
  } 
}

 h1 {
   background-color: lightgray;
   font-size: 50px;
 }

 @media (min-widht: 320px) {
   h1 {
     font-size: 100px;
   }
 }
 